.main {
  display: flex;
  width: 100%;
  height: 100vh;
}
.mainL,
.mainL1,
.mainL2,
.mainR {
  width: 50%;
  height: 100%;
  display: flex;
}
.mainL1 {
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: ivory;
  font-size: 2.5rem;
  text-align: center;
}
.mainL2 {
  overflow: hidden;
  padding: 1em;
  box-sizing: border-box;
  background: ivory;
  position: relative;
}
.mainR {
  flex-direction: column;
  background: url(../img/background/main.jpg) center/cover no-repeat;
}
.down-txt,
.up-txt {
  position: absolute;
  opacity: 0.5;
  font-weight: 700;
  font-size: 160px;
  color: #25252b;
  top: 50%;
  left: 100%;
}
.up-txt {
  animation: 10s linear infinite slideText;
}
.down-txt {
  animation: 10s linear infinite slideText1;
}
@keyframes slideText {
  0% {
    transform: translate(-65%, 500%) rotate(-90deg);
  }
  100% {
    transform: translate(-65%, -500%) rotate(-90deg);
  }
}
@keyframes slideText1 {
  0% {
    transform: translate(-100%, -500%) rotate(-90deg);
  }
  100% {
    transform: translate(-100%, 500%) rotate(-90deg);
  }
}
@media (max-width: 1024px) {
  .main,
  .mainL {
    flex-direction: column;
  }
  .mainL .datetime {
    margin: auto 0;
    transform: translate(0%, 50%);
  }
  .mainL1 {
    font-size: 1.5rem;
    justify-content: flex-end;
  }
  .mainL2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mainL,
  .mainL1,
  .mainL2,
  .mainR {
    width: 100%;
  }
  .down-txt,
  .up-txt {
    display: flex;
    flex-direction: column;
    position: unset;
    animation: unset;
    font-size: 60px;
  }
}
