* {
  user-select: none; /* 표준 */
  -webkit-user-select: none; /* WebKit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background: #25252b;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.sec {
  width: 100%;
  margin: 0 auto;
  font-family: NPSfontBold, sans-serif;
}
.sec1,
.sec2,
.sec3,
.sec4 {
  height: 100vh;
}
