* {
  user-select: none; /* 표준 */
  -webkit-user-select: none; /* WebKit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  cursor: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: #17161a;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.sec {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: NPSfontBold, sans-serif;
}
